<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src=@{/webjars/bootstrap/js/bootstrap.min.js}></script>
<script type="text/javascript" th:src=@{/webjars/font-awesome/js/fontawesome.min.js}></script>
<title>Customer|Add</title>
</head>
<body>
	<div class="container mt-4">
		<div class="row">
			<div class="col-10">
				<h3>Add Customer</h3>
			</div>
			<div class="col">
				<a href="#" th:href="@{/customers}" class="btn btn-primary"><i class="fas fa-home"></i>Home</a>
			</div>
		</div><hr />
		<div class="row mt-3">
			<div class="col-6">
				<form th:object="${cust}" th:action="@{/customers/save}" class="form" method="post">
					<div class="form-group">
						<label for="">Name</label>
						<input type="text" th:field="*{name}" class="form-control" placeholder="Enter your name" />
					</div>
					<div class="form-group">
						<label for="">Email</label>
						<input type="text" th:field="*{email}" class="form-control" placeholder="Enter email" />
					</div>
					
					<div class="form-group">
						<label for="">Phone No.</label>
						<input type="text" th:field="*{phone}" class="form-control" placeholder="Enter phone no." />
					</div>
					<div class="form-group">
						<label class="mr-3">Gender</label>
						<span th:each="g,c :${genders}">
							<input  type="radio" th:field="*{gender}" th:value="${g}" th:id="'gender'+${c.count}"/>
							<label th:for="'gender'+${c.count}" th:text="${g}" class="mr-3" ></label>
							
						</span>
					</div>
					<div class="form-group">
						<label for="">Address</label>
						<textarea  cols="30" rows="3" th:field="*{address}" class="form-control" placeholder="Enter address" ></textarea>
					</div>
					
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i>Save
					</button>
					
				</form>
				
			</div>
		</div>
	</div>
</body>
</html>